[Unit]
Description=MonitorCollect 指标采集服务
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/monitor_collect
ExecStart=/opt/monitor_collect/monitor_collect
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
TimeoutStopSec=15s
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
